In [111]:
import os
import re
import numpy as np
import pandas as pd
from datetime import datetime

In [112]:
# Ruta del archivo csv 
FILES_PATH = os.path.join('..','..','data','raw','GeekyMotors')
csv_path = os.path.join(FILES_PATH, 'geeky_motors2.csv')

# Importación del archivo CSV
data = pd.read_csv(csv_path, encoding="latin-1")
data

,Nombre,KM,Estado,Combustible,Carrocería,Tracción,Transmisión,Asientos,Color,Verificación,Precio
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000"
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500"
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500"
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999"
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000"
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000"
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995"

In [128]:
for col in data.columns:
    if data[col].nunique() < 20:
        print(col)
        print(data[col].unique())
        print()

Estado
['Usado']

Combustible
['Eléctrico' 'Gasolina' 'Diesel']

Carrocería
['Sedan' 'SUV' 'Pickup' 'Coupe' 'Hatchback' 'Convertible' 'Wagon']

Tracción
['4x4' '4x2']

Transmisión
['Automática' 'Manual']

Asientos
['Cuero vegano' 'Cuerro' 'Cuero' 'Algodón' 'Tela' 'cuero suave' 'cuero'
 'CUERO' 'tela' 'Asientos de tela con forros de cuerinq' 'Tela, off road'
 'Cuerina Premium' 'TELA' 'Cuero rojo con negro' 'Asientos de tela' '5'
 'Cuerina' 'Tela, oscuros y áreas de cuero']

Verificación
[ 93.  nan  95.  92. 100.  98.]

In [113]:
data_tmp = pd.DataFrame()

### Marca

In [114]:
# Lista de marcas de autos
lista_marcas = [
    "acura", "alfa romeo", "aston martin", "audi", "bentley", "bmw", "bugatti", "buick",
    "cadillac", "chevrolet", "chrysler", "citroën", "dacia", "daewoo", "daihatsu", "dodge",
    "ferrari", "fiat", "ford", "geely", "genesis", "gmc", "honda", "hummer", "hyundai", "infiniti",
    "isuzu", "jaguar", "jeep", "kia", "koenigsegg", "lamborghini", "lancia", "land rover",
    "lexus", "lincoln", "lotus", "mahindra", "maserati", "maybach", "mazda", "mclaren", "mercedes-benz",
    "mercury", "mg", "mini", "mitsubishi", "morgan", "nissan", "opel", "pagani", "peugeot",
    "plymouth", "polestar", "pontiac", "porsche", "ram", "renault", "rolls-royce", "saab",
    "seat", "škoda", "smart", "subaru", "suzuki", "tata", "tesla", "toyota", "volkswagen",
    "volvo", "wiesmann", "zotye", "byd", "chery", "jac", "ssangyong", "great wall", "fisker", "rivian", "lucid", "vinfast"
]

In [115]:
def extraer_marca(df):
    # Convertir el texto a minúsculas
    texto = df.lower()

    for marca in lista_marcas:
        # Crear un patrón de expresión regular para la marca, con delimitadores de palabra
        patron = r'\b' + re.escape(marca.lower()) + r'\b'

        # Si encuentra una coincidencia de palabra completa, retorna la marca
        if re.search(patron, texto):
            return marca

    return ""


data_tmp['marca'] = data['Nombre'].apply(extraer_marca)
data_tmp.marca.unique()

array(['tesla', 'audi', 'toyota', 'nissan', 'hyundai', 'kia', 'bmw',
       'honda', 'mini', 'mercedes-benz', 'subaru', 'suzuki', 'renault',
       'mazda', 'acura', '', 'geely', 'lincoln', 'land rover', 'ford',
       'maserati', 'mitsubishi', 'mahindra', 'peugeot', 'isuzu',
       'volkswagen', 'chevrolet', 'jeep', 'dodge'], dtype=object)

### Año

In [116]:
lista_anios = np.arange(1990, datetime.now().year + 1)

def extraer_anio(df):
    for anio in lista_anios:
        if str(anio) in df:
            return anio
    return ""

data_tmp['anio'] = data['Nombre'].apply(extraer_anio)
data_tmp['anio']

0       2018
1       2012
2       2012
3       2019
4       2012
        ...
4283    2005
4284    2017
4285    2014
4286    2018
4287    2019
Name: anio, Length: 4288, dtype: int64

### Modelo

In [117]:
def modelo(df):
    marca = extraer_marca(df)
    anio = extraer_anio(df)

    if marca != "Desconocida" and anio != "Desconocido":
        # Encontrar la posición de la marca y el año en el texto
        start_index = df.lower().find(marca.lower()) + len(marca)
        end_index = df.find(str(anio))

        # Extraer el texto entre la marca y el año
        modelo = df[start_index:end_index].strip()

        return modelo
    return ""

data_tmp['modelo'] = data['Nombre'].apply(modelo)
data_tmp['modelo'].unique()

array(['Model 3', 'Q5', 'Corolla Sport Edition Full Extras', 'Navara',
       'i20-Active', 'Extrail', 'RIO', 'Cerato', '218i Gran Coupé',
       'Civic full extra', 'Cooper', 'Mercedes AMG GLE 63s Coupe', 'XV',
       'Ciaz', 'Tucson', 'Model X', 'Xtrail', 'Captur', '318i', 'Crv',
       'Q3', 'Accent', 'Corolla', 'X-trail', 'CX-9', 'Tucson GLS Full',
       'Land Cruiser', 'Rogue', 'TLX', 'GLE 400', 'Grand i10', '650i',
       'Mercedes GLC 200', 'LAND CRUISER Prado', 'EON', 'Civic',
       'Swift dzire', 'Coolray', 'Outback', 'K2700', 'Aviator', 'CR-V',
       'Sportage Gt Line', 'Tundra', 'Rav 4', 'Yaris', 'MDX',
       'Range Rover Vogue supercharged', 'Range Rover Sport', 'Cx5',
       'tercel', 'A3', 'F150 Lariat', 'Kicks', 'Venue', 'X1',
       'Levante S Negociable', 'HILUX', 'F-150 Raptor', '640',
       'RIO HATCHBACK', 'Yaris S FULL', 'Asx', 'Vitara', 'Figo', '',
       'Q3 Sportback', 'Ranger XL', 'BRONCO SPORT', 'COROLLA SE',
       'Pik Up 2.5', 'HYUDANI CRETA', '301', 'ILX', 'ISUZU', 'TIGUAN',
       'Traverse', 'Grand Cherokee Laredo', 'Ford EDGE SEL', 'Cx-5',
       'WRANGLER', 'Range Rover Evoque', '4Runner', 'WRX', 'Prado TXL',
       'Outlander Sport', 'Montero Sport', 'Equinox EV',
       'Ranger WILDTRAK', 'Mustang', 'Ram 1500', 'Porche Cayenne',
       'Mercedes ML55 AMG', 'Odyssey', 'QASQHAI', 'Civic Coupe', 'Versa',
       'i10', 'Almera', 'Sportage full xtra', 'X5 3.OD',
       'Wrangler Unlimited'], dtype=object)

In [118]:
def remover_textos(col, textos_a_eliminar):
    """
    Elimina palabras como 'full extra', 'full extras', 'hatchback', etc de la columna "modelo",
    sin importar si están en mayúsculas o minúsculas.
    """
    pattern = re.compile(r'\b(?:' + '|'.join(re.escape(texto) for texto in textos_a_eliminar) + r')\b', re.IGNORECASE)
    modelo_tmp = col.apply(lambda x: pattern.sub('', str(x)).strip())

    return modelo_tmp



# Lista de textos a eliminar
textos_a_eliminar = ['full', 'xtra', 'extra', 'full extra', 'full extras', 'full xtra', 'hatchback']
data_tmp['modelo'] = remover_textos(data_tmp.modelo, textos_a_eliminar)
data_tmp.modelo.unique()

array(['Model 3', 'Q5', 'Corolla Sport Edition  Extras', 'Navara',
       'i20-Active', 'Extrail', 'RIO', 'Cerato', '218i Gran Coupé',
       'Civic', 'Cooper', 'Mercedes AMG GLE 63s Coupe', 'XV', 'Ciaz',
       'Tucson', 'Model X', 'Xtrail', 'Captur', '318i', 'Crv', 'Q3',
       'Accent', 'Corolla', 'X-trail', 'CX-9', 'Tucson GLS',
       'Land Cruiser', 'Rogue', 'TLX', 'GLE 400', 'Grand i10', '650i',
       'Mercedes GLC 200', 'LAND CRUISER Prado', 'EON', 'Swift dzire',
       'Coolray', 'Outback', 'K2700', 'Aviator', 'CR-V',
       'Sportage Gt Line', 'Tundra', 'Rav 4', 'Yaris', 'MDX',
       'Range Rover Vogue supercharged', 'Range Rover Sport', 'Cx5',
       'tercel', 'A3', 'F150 Lariat', 'Kicks', 'Venue', 'X1',
       'Levante S Negociable', 'HILUX', 'F-150 Raptor', '640', 'Yaris S',
       'Asx', 'Vitara', 'Figo', '', 'Q3 Sportback', 'Ranger XL',
       'BRONCO SPORT', 'COROLLA SE', 'Pik Up 2.5', 'HYUDANI CRETA', '301',
       'ILX', 'ISUZU', 'TIGUAN', 'Traverse', 'Grand Cherokee Laredo',
       'Ford EDGE SEL', 'Cx-5', 'WRANGLER', 'Range Rover Evoque',
       '4Runner', 'WRX', 'Prado TXL', 'Outlander Sport', 'Montero Sport',
       'Equinox EV', 'Ranger WILDTRAK', 'Mustang', 'Ram 1500',
       'Porche Cayenne', 'Mercedes ML55 AMG', 'Odyssey', 'QASQHAI',
       'Civic Coupe', 'Versa', 'i10', 'Almera', 'Sportage', 'X5 3.OD',
       'Wrangler Unlimited'], dtype=object)

In [119]:
def transformar_sport_edition(col):
    """
    Transforma el texto "Sport Edition" a "SE"
    """

    pattern = re.compile(r'\bsport[\s-]*edition\b', re.IGNORECASE)
    modelo_tmp = col.apply(lambda x: pattern.sub('SE', str(x)))

    return modelo_tmp


data_tmp['modelo'] = transformar_sport_edition(data_tmp.modelo)
data_tmp.modelo.unique()

array(['Model 3', 'Q5', 'Corolla SE  Extras', 'Navara', 'i20-Active',
       'Extrail', 'RIO', 'Cerato', '218i Gran Coupé', 'Civic', 'Cooper',
       'Mercedes AMG GLE 63s Coupe', 'XV', 'Ciaz', 'Tucson', 'Model X',
       'Xtrail', 'Captur', '318i', 'Crv', 'Q3', 'Accent', 'Corolla',
       'X-trail', 'CX-9', 'Tucson GLS', 'Land Cruiser', 'Rogue', 'TLX',
       'GLE 400', 'Grand i10', '650i', 'Mercedes GLC 200',
       'LAND CRUISER Prado', 'EON', 'Swift dzire', 'Coolray', 'Outback',
       'K2700', 'Aviator', 'CR-V', 'Sportage Gt Line', 'Tundra', 'Rav 4',
       'Yaris', 'MDX', 'Range Rover Vogue supercharged',
       'Range Rover Sport', 'Cx5', 'tercel', 'A3', 'F150 Lariat', 'Kicks',
       'Venue', 'X1', 'Levante S Negociable', 'HILUX', 'F-150 Raptor',
       '640', 'Yaris S', 'Asx', 'Vitara', 'Figo', '', 'Q3 Sportback',
       'Ranger XL', 'BRONCO SPORT', 'COROLLA SE', 'Pik Up 2.5',
       'HYUDANI CRETA', '301', 'ILX', 'ISUZU', 'TIGUAN', 'Traverse',
       'Grand Cherokee Laredo', 'Ford EDGE SEL', 'Cx-5', 'WRANGLER',
       'Range Rover Evoque', '4Runner', 'WRX', 'Prado TXL',
       'Outlander Sport', 'Montero Sport', 'Equinox EV',
       'Ranger WILDTRAK', 'Mustang', 'Ram 1500', 'Porche Cayenne',
       'Mercedes ML55 AMG', 'Odyssey', 'QASQHAI', 'Civic Coupe', 'Versa',
       'i10', 'Almera', 'Sportage', 'X5 3.OD', 'Wrangler Unlimited'],
      dtype=object)

In [ ]:
# Selección de variables útiles
mis_columnaas = ['Nombre', 'Marca', 'Modelo', 'Año', 'Carrocería','Combustible', 'Transmisión','Tracción', 'KM', 'Asientos', 'Color', 'Verificación', 'Precio']
data = data[mis_columnaas]

data = data.drop_duplicates()
data

,Nombre,Marca,Modelo,Año,Carrocería,Combustible,Transmisión,Tracción,KM,Asientos,Color,Verificación,Precio
0,Tesla Model 3 2018 Bajo Perfil,Tesla,Model 3,2018,Sedan,Eléctrico,Automática,4x4,44000,Cuero vegano,Red Multi-Coat,93.0,"$55,000"
1,Audi Q5 2012,Audi,Q5,2012,SUV,Gasolina,Automática,4x2,154000,Cuerro,Gris,NaN,"$6,500"
3,Toyota Corolla Sport Edition Full Extras 2019,Toyota,Corolla Sport Edition Full Extras,2019,Sedan,Gasolina,Automática,4x2,78000,Cuero,Azul Marino,95.0,"$17,500"
6,Nissan Navara 2015,Nissan,Navara,2015,Pickup,Diesel,Automática,4x4,360000,Cuero,Gris plata,NaN,"$14,000"
10,Hyundai i20-Active 2017,Hyundai,i20-Active,2017,SUV,Gasolina,Manual,4x2,114000,Algodón,Gris ratón,NaN,"$7,500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4191,Hyundai i10 2016,Hyundai,i10,2016,Hatchback,Gasolina,Automática,4x2,97000,Tela,Blanco,NaN,"$4,800"
4195,Nissan Almera 2005,Nissan,Almera,2005,Sedan,Gasolina,Automática,4x2,150000,Tela,Rojo Vino,NaN,"$3,500"
4200,Kia Sportage full xtra 2017 Negociable,Kia,Sportage full xtra,2017,SUV,Gasolina,Automática,4x2,96000,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999"
4206,BMW X5 3.OD 2014,BMW,X5 3.OD,2014,SUV,Diesel,Automática,4x4,167000,cuero,crema,NaN,"$18,000"
4213,Jeep Wrangler Unlimited 2018,Jeep,Wrangler Unlimited,2018,SUV,Gasolina,Automática,4x4,78000,Tela,Beige,NaN,"$25,000"

In [ ]:
# Guardar archivo
#data.to_csv('GeekyMotors.csv', encoding="utf-8", index=False)