In [160]:
import os
import re
import numpy as np
import pandas as pd
import unicodedata
from datetime import datetime

In [161]:
# Ruta del archivo csv 
FILES_PATH = os.path.join('..','..','data','raw','GeekyMotors')
csv_path = os.path.join(FILES_PATH, 'geeky_motors2.csv')

# Importación del archivo CSV
data = pd.read_csv(csv_path, encoding="latin-1")
data

,Nombre,KM,Estado,Combustible,Carrocería,Tracción,Transmisión,Asientos,Color,Verificación,Precio
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000"
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500"
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500"
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999"
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000"
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000"
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995"

In [162]:
def normalizar_nombres_columnas(df: pd.DataFrame) -> pd.DataFrame:
    """
    Normaliza los nombres de las columnas de un DataFrame.
    Convierte los nombres a minúsculas y elimina las tildes.

    Parameters:
    - df: pd.DataFrame
        El DataFrame cuyas columnas se normalizarán.

    Retorna:
    - pd.DataFrame
        El DataFrame con los nombres de columnas normalizados.
    """
    def remover_tildes(texto):
        texto_normalizado = unicodedata.normalize('NFD', texto)
        return ''.join(c for c in texto_normalizado if unicodedata.category(c) != 'Mn')

    # Normalizar los nombres de las columnas
    df.columns = [remover_tildes(col).lower() for col in df.columns]
    
    return df

In [163]:
normalizar_nombres_columnas(data)

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000"
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500"
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500"
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999"
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000"
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000"
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995"

In [164]:
for col in data.columns:
    if data[col].nunique() < 20:
        print(col)
        print(data[col].unique())
        print()

estado
['Usado']

combustible
['Eléctrico' 'Gasolina' 'Diesel']

carroceria
['Sedan' 'SUV' 'Pickup' 'Coupe' 'Hatchback' 'Convertible' 'Wagon']

traccion
['4x4' '4x2']

transmision
['Automática' 'Manual']

asientos
['Cuero vegano' 'Cuerro' 'Cuero' 'Algodón' 'Tela' 'cuero suave' 'cuero'
 'CUERO' 'tela' 'Asientos de tela con forros de cuerinq' 'Tela, off road'
 'Cuerina Premium' 'TELA' 'Cuero rojo con negro' 'Asientos de tela' '5'
 'Cuerina' 'Tela, oscuros y áreas de cuero']

verificacion
[ 93.  nan  95.  92. 100.  98.]

### Marca

In [165]:
def estandarizar_marcas(df: pd.DataFrame) -> pd.DataFrame:
    """
    Esta función estandariza los nombres de marcas en una columna de un DataFrame de pandas
    según un diccionario de reemplazos proporcionado. Los nombres de marcas en la columna se
    reemplazan con claves específicas del diccionario si se encuentran las variantes especificadas.

    Parameters:
    - df: pd.DataFrame
        DataFrame que debe contener una columna llamada 'Nombre' con los nombres de las marcas.

    Retorna:
    - pd.DataFrame
        Un DataFrame con la columna 'Nombre' actualizada con las marcas estandarizadas.
    """

    reemplazos_marcas = {
        'Hyundai': ['hyudani'],
        'Porsche': ['porche'],
        'Mercedes-Benz': ['mercedes']
    }

    # Iterar sobre el diccionario de reemplazos
    for clave, valores in reemplazos_marcas.items():
        for valor in valores:
            # Reemplaza cada variante en la columna con la marca estandarizada
            df['nombre'] = df['nombre'].str.replace(valor.lower(), clave, case=False, regex=False)
            
    return df

In [166]:
estandarizar_marcas(data)

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000"
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500"
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500"
...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500"
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999"
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000"
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000"
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995"

In [167]:
def extraer_marca(df: pd.DataFrame) -> pd.DataFrame:
    """
    Esta función extrae las marcas de autos y las agrega a una nueva columna en el DataFrame.

    Parameters:
    - df: pd.DataFrame
        DataFrame que debe contener una columna llamada 'Nombre' con los nombres de los autos.

    Retorna:
    - pd.DataFrame
        DataFrame con una nueva columna llamada 'marca' que contiene la marca extraída.
    """
    # Lista de marcas de autos
    lista_marcas = [
        "acura", "alfa romeo", "aston martin", "audi", "bentley", "bmw", "bugatti", "buick",
        "cadillac", "chevrolet", "chrysler", "citroën", "dacia", "daewoo", "daihatsu", "dodge",
        "ferrari", "fiat", "ford", "geely", "genesis", "gmc", "honda", "hummer", "hyundai", "infiniti",
        "isuzu", "jaguar", "jeep", "kia", "koenigsegg", "lamborghini", "lancia", "land rover",
        "lexus", "lincoln", "lotus", "mahindra", "maserati", "maybach", "mazda", "mclaren", "mercedes-benz",
        "mercury", "mg", "mini", "mitsubishi", "morgan", "nissan", "opel", "pagani", "peugeot",
        "plymouth", "polestar", "pontiac", "porsche", "ram", "renault", "rolls-royce", "saab",
        "seat", "škoda", "smart", "subaru", "suzuki", "tata", "tesla", "toyota", "volkswagen",
        "volvo", "wiesmann", "zotye", "byd", "chery", "jac", "ssangyong", "great wall", "fisker", "rivian", "lucid", "vinfast"
    ]

    def encontrar_marca(texto):
        texto = texto.lower()
        for marca in lista_marcas:
            patron = r'\b' + re.escape(marca) + r'\b'
            if re.search(patron, texto):
                return marca
        return "Desconocida"  # Retorna un valor por defecto si no se encuentra ninguna marca

    df['marca'] = df['nombre'].apply(encontrar_marca)
    return df

In [168]:
extraer_marca(data)

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio,marca
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000",tesla
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500",toyota
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi
...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500",nissan
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999",kia
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000",bmw
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000",jeep
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995",toyota

In [169]:
data.marca.unique()

array(['tesla', 'audi', 'toyota', 'nissan', 'hyundai', 'kia', 'bmw',
       'honda', 'mini', 'mercedes-benz', 'subaru', 'suzuki', 'renault',
       'mazda', 'acura', 'geely', 'lincoln', 'land rover', 'ford',
       'maserati', 'mitsubishi', 'mahindra', 'peugeot', 'isuzu',
       'volkswagen', 'chevrolet', 'jeep', 'dodge', 'porsche'],
      dtype=object)

### Año

In [170]:
def extraer_anio(df: pd.DataFrame) -> pd.DataFrame:
    """
    Esta función extrae los años del modelo de los autos de una columna de nombres de autos
    y los agrega como una nueva columna en el DataFrame.

    Parameters:
    - df: pd.DataFrame
        DataFrame que debe contener una columna llamada 'Nombre' con los nombres de los autos.

    Retorna:
    - pd.DataFrame
        Un DataFrame con una nueva columna llamada 'anio' que contiene los años extraídos.
    """

    # Lista de años posibles
    lista_anios = np.arange(1990, datetime.now().year + 1)
    
    def encontrar_anio(nombre):
        for anio in lista_anios:
            if str(anio) in nombre:
                return anio
        return np.nan  # Retorna NaN si no se encuentra un año

    # Aplicar la función a cada fila de la columna 'Nombre'
    df['anio'] = df['nombre'].apply(encontrar_anio)
    
    return df

In [171]:
data = extraer_anio(data)

### Modelo

In [172]:
def extraer_modelo(df: pd.DataFrame) -> pd.DataFrame:
    """
    Esta función extrae los modelos de autos de una columna de nombres de autos,
    utilizando las columnas de marca y año como referencia.

    Parameters:
    - df: pd.DataFrame
        DataFrame que debe contener las columnas 'Nombre', 'marca' y 'anio'.

    Retorna:
    - pd.DataFrame
        Un DataFrame con una nueva columna llamada 'modelo' que contiene los modelos extraídos.
    """
    
    def encontrar_modelo(fila):
        nombre_auto = fila['nombre']
        marca = fila['marca']
        anio = fila['anio']
        
        # Encontrar la posición de la marca y el año en el texto
        start_index = nombre_auto.lower().find(marca.lower()) + len(marca)
        end_index = nombre_auto.find(str(anio))

        if start_index != -1 and end_index != -1 and end_index > start_index:
            # Extraer el texto entre la marca y el año como modelo
            modelo = nombre_auto[start_index:end_index].strip()
            return modelo
        return ""  # Retorna cadena vacía si no se encuentra modelo

    # Aplicar la función para extraer modelo a cada fila
    df['modelo'] = df.apply(encontrar_modelo, axis=1)
    
    return df

In [184]:
data = extraer_modelo(data)
data

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio,marca,anio,modelo
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000",tesla,2018,Model 3
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500",toyota,2019,Corolla Sport Edition Full Extras
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500",nissan,2005,Almera
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999",kia,2017,Sportage full xtra
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000",bmw,2014,X5 3.OD
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000",jeep,2018,Wrangler Unlimited
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995",toyota,2019,HILUX

In [174]:
def remover_textos(df:pd.DataFrame) -> pd.DataFrame:
    """
    Esta función remueve textos indeseados como: 'full extra', etc, de los modelos de autos.

    Parameters:
    - df: pd.DataFrame
        Dataframe que debe contener la columna 'modelo'.
    
    Retorna:
    - pd.Series
        Una serie con los modelos.
    """

    # Lista de textos a eliminar
    textos_a_eliminar = ['full', 'xtra', 'extra', 'extras', 'full extra', 'full extras', 'full xtra', 'hatchback', 'negociable', 'mercedes']

    pattern = re.compile(r'\b(?:' + '|'.join(re.escape(texto) for texto in textos_a_eliminar) + r')\b', re.IGNORECASE)
    df['modelo'] = df['modelo'].apply(lambda x: pattern.sub('', str(x)).strip())

    return df

In [185]:
data = remover_textos(data)
data

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio,marca,anio,modelo
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000",tesla,2018,Model 3
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500",toyota,2019,Corolla Sport Edition
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500",nissan,2005,Almera
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999",kia,2017,Sportage
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000",bmw,2014,X5 3.OD
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000",jeep,2018,Wrangler Unlimited
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995",toyota,2019,HILUX

In [176]:
def transformar_sport_edition(df:pd.DataFrame) -> pd.DataFrame:
    """
    Convierte el texto 'Sport Edition' a 'SE'.

    Parameters:
    - df: pd.DataFrame
        Dataframe que debe contener la columna 'modelo'.

    Retorna:
    - pd.DataFrame
        Una serie con los modelos.
    """

    pattern = re.compile(r'\bsport[\s-]*edition\b', re.IGNORECASE)
    df['modelo'] = df['modelo'].apply(lambda x: pattern.sub('SE', str(x)))

    return df

In [186]:
data = transformar_sport_edition(data)
data

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio,marca,anio,modelo
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000",tesla,2018,Model 3
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500",toyota,2019,Corolla SE
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500",nissan,2005,Almera
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999",kia,2017,Sportage
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000",bmw,2014,X5 3.OD
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000",jeep,2018,Wrangler Unlimited
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995",toyota,2019,HILUX

In [178]:
data.modelo.unique()

array(['Model 3', 'Q5', 'Corolla SE', 'Navara', 'i20-Active', 'Extrail',
       'RIO', 'Cerato', '218i Gran Coupé', 'Civic', 'Cooper',
       '-Benz -Benz AMG GLE 63s Coupe', 'XV', 'Ciaz', 'Tucson', 'Model X',
       'Xtrail', 'Captur', '318i', 'Crv', 'Q3', 'Accent', 'Corolla',
       'X-trail', 'CX-9', 'Tucson GLS', 'Land Cruiser', 'Rogue', 'TLX',
       '-Benz GLE 400', 'Grand i10', '650i', 'GLC 200',
       'LAND CRUISER Prado', 'EON', 'Swift dzire', 'Coolray', 'Outback',
       'K2700', 'Aviator', 'CR-V', 'Sportage Gt Line', 'Tundra', 'Rav 4',
       'Yaris', 'MDX', 'Range Rover Vogue supercharged',
       'Range Rover Sport', 'Cx5', 'tercel', 'A3', 'F150 Lariat', 'Kicks',
       'Venue', 'X1', 'Levante S', 'HILUX', 'F-150 Raptor', '640',
       'Yaris S', 'Asx', 'Vitara', 'Figo', '', 'Q3 Sportback',
       'Ranger XL', 'BRONCO SPORT', 'COROLLA SE', 'Pik Up 2.5', 'CRETA',
       '301', 'ILX', 'ISUZU', 'TIGUAN', 'Traverse',
       'Grand Cherokee Laredo', 'Ford EDGE SEL', 'Cx-5', 'WRANGLER',
       'Range Rover Evoque', '4Runner', 'WRX', 'Prado TXL',
       'Outlander Sport', 'Montero Sport', 'Equinox EV',
       'Ranger WILDTRAK', 'Mustang', 'Ram 1500', 'Cayenne', 'ML55 AMG',
       'Odyssey', 'QASQHAI', 'Civic Coupe', 'Versa', 'i10', 'Almera',
       'Sportage', 'X5 3.OD', 'Wrangler Unlimited'], dtype=object)

In [179]:
def estandarizar_modelos(df:pd.DataFrame):
    """
    Estandariza los modelos, reemplazando los textos mal digitados.

    Parameters:
    - df: pd.DataFrame
        Dataframe que debe contener la columna 'modelo'.

    Retorna:
    - pd.Dataframe
        Una serie con los modelos.
    """
    reemplazos_modelos = {'X-Trail': ['extrail','xtrail','X-trail'], 'CRV':['Crv','cr-v'], 'CX-5':['Cx-5','cx5'], 'Rio':['RIO'], 'CX-9':['cx9'],
              'Pick Up':['pik up']}
    
    # Iterar sobre el diccionario de reemplazos
    for clave, valores in reemplazos_modelos.items():
        for valor in valores:
            # Reemplaza cada valor en la columna temporal en minúsculas
            df['modelo'] = df['modelo'].str.replace(rf'{valor}', clave, case=False, regex=False)

    return df

In [180]:
data = estandarizar_modelos(data)
data

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio,marca,anio,modelo
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,"$55,000",tesla,2018,Model 3
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,"$17,500",toyota,2019,Corolla SE
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,"$6,500",audi,2012,Q5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,"$3,500",nissan,2005,Almera
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,"$12,999",kia,2017,Sportage
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,"$18,000",bmw,2014,X5 3.OD
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,"$25,000",jeep,2018,Wrangler Unlimited
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,"$34,995",toyota,2019,HILUX

In [181]:
data.modelo.unique()

array(['Model 3', 'Q5', 'Corolla SE', 'Navara', 'i20-Active', 'X-Trail',
       'Rio', 'Cerato', '218i Gran Coupé', 'Civic', 'Cooper',
       '-Benz -Benz AMG GLE 63s Coupe', 'XV', 'Ciaz', 'Tucson', 'Model X',
       'Captur', '318i', 'CRV', 'Q3', 'Accent', 'Corolla', 'CX-9',
       'Tucson GLS', 'Land Cruiser', 'Rogue', 'TLX', '-Benz GLE 400',
       'Grand i10', '650i', 'GLC 200', 'LAND CRUISER Prado', 'EON',
       'Swift dzire', 'Coolray', 'Outback', 'K2700', 'Aviator',
       'Sportage Gt Line', 'Tundra', 'Rav 4', 'Yaris', 'MDX',
       'Range Rover Vogue supercharged', 'Range Rover Sport', 'CX-5',
       'tercel', 'A3', 'F150 Lariat', 'Kicks', 'Venue', 'X1', 'Levante S',
       'HILUX', 'F-150 Raptor', '640', 'Yaris S', 'Asx', 'Vitara', 'Figo',
       '', 'Q3 Sportback', 'Ranger XL', 'BRONCO SPORT', 'COROLLA SE',
       'Pick Up 2.5', 'CRETA', '301', 'ILX', 'ISUZU', 'TIGUAN',
       'Traverse', 'Grand Cherokee Laredo', 'Ford EDGE SEL', 'WRANGLER',
       'Range Rover Evoque', '4Runner', 'WRX', 'Prado TXL',
       'Outlander Sport', 'Montero Sport', 'Equinox EV',
       'Ranger WILDTRAK', 'Mustang', 'Ram 1500', 'Cayenne', 'ML55 AMG',
       'Odyssey', 'QASQHAI', 'Civic Coupe', 'Versa', 'i10', 'Almera',
       'Sportage', 'X5 3.OD', 'Wrangler Unlimited'], dtype=object)

### Precio

In [188]:
def transformar_precio(df: pd.Series) -> pd.Series:
    """
    Convierte el precio a tipo int.

    Parameters:
    - df: pd.DataFrame
        Dataframe que debe contener la columna 'Precio'.
    
    Retorna:
    - pd.Dataframe
        Dataframe con la columna 'precio' en tipo 'int'.
    """
    df['precio'] = df['precio'].str.replace('$','').str.replace(',','')
    df['precio'] = df['precio'].astype(int)

    return df

In [189]:
data = transformar_precio(data)
data

,nombre,km,estado,combustible,carroceria,traccion,transmision,asientos,color,verificacion,precio,marca,anio,modelo
0,Tesla Model 3 2018 Bajo Perfil,44000,Usado,Eléctrico,Sedan,4x4,Automática,Cuero vegano,Red Multi-Coat,93.0,55000,tesla,2018,Model 3
1,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,6500,audi,2012,Q5
2,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,6500,audi,2012,Q5
3,Toyota Corolla Sport Edition Full Extras 2019,78000,Usado,Gasolina,Sedan,4x2,Automática,Cuero,Azul Marino,95.0,17500,toyota,2019,Corolla SE
4,Audi Q5 2012,154000,Usado,Gasolina,SUV,4x2,Automática,Cuerro,Gris,NaN,6500,audi,2012,Q5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Nissan Almera 2005,150000,Usado,Gasolina,Sedan,4x2,Automática,Tela,Rojo Vino,NaN,3500,nissan,2005,Almera
4284,Kia Sportage full xtra 2017 Negociable,96000,Usado,Gasolina,SUV,4x2,Automática,"Tela, oscuros y áreas de cuero",Negro / gris,NaN,12999,kia,2017,Sportage
4285,BMW X5 3.OD 2014,167000,Usado,Diesel,SUV,4x4,Automática,cuero,crema,NaN,18000,bmw,2014,X5 3.OD
4286,Jeep Wrangler Unlimited 2018,78000,Usado,Gasolina,SUV,4x4,Automática,Tela,Beige,NaN,25000,jeep,2018,Wrangler Unlimited
4287,TOYOTA HILUX 2019,83000,Usado,Diesel,Pickup,4x4,Automática,Tela,Gris,NaN,34995,toyota,2019,HILUX

### Final

In [ ]:
def selector_columnas(df:pd.DataFrame) -> pd.DataFrame:
    
    mis_variables = ['marca','modelo','anio','']